<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button @click="change">改变</button>
    <p v-for="(item, index) in arr" :key="index">{{item}}</p>
  <!-- {{num}} -->
    <!-- <span v-for="(item, index) in obj" :key="index">{{item}}</span> -->
    {{obj}}
  </div>
  <script>
    new Vue({
      el:"#app",
      data:{
        num:10,
        arr:[1,2,3,4,5],
        obj:{
          age:"18"
        }
      },
      methods: {
        change(){
          // this.arr[2]='a';
          // console.log(this.arr);
          // Vue.set(this.arr,2,"a")
          // this.obj.name = "ls";
          Vue.set(this.obj,'name',"ls");
          console.log(this.obj);
          // this.num = "abcd"          
        }
      },
    })
  </script>
</body>
</html>